@model IEnumerable<Station>
@{
    ViewData["Title"] = "Bratislava";
    var administrator = (bool)ViewData["Administrator"];
    var countTagMenu = (int)ViewData["CountTagMenu"];
    var showKurz = (bool)ViewData["ShowKurz"];
    var page = (int)ViewData["Page"];
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewData["Title"]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="~/css/JRBlava/menuBlava.css" />
    <link rel="stylesheet" type="text/css" href="~/css/JRBlava/JRBlava.css" />
    <link rel="stylesheet" type="text/css" href="~/css/JRBlava/kalendarBlava.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <script type="text/javascript">
        var vlocation = 6;
        $(document).ready(function () {
            $("#naseptavacText").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Bratislava/Search",
                        type: "GET",
                        data: { term: request.term },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 2
            });
        });
    </script>

    <div id="secondary-nav">
        <ul>
            <li id="menu_content_1" class="@(page == 1 ? "active" : "")">
                <a href="?page=1@(showKurz ? "&kurz=1" : "")">Jízdní řády</a>
            </li>
            <li id="menu_content_2" class="@(page == 2 ? "active" : "")">
                <a href="?page=2@(showKurz ? "&kurz=1" : "")">Linky</a>
            </li>
            <li id="menu_content_3" class="@(page == 3 ? "active" : "")">
                <a href="?page=3@(showKurz ? "&kurz=1" : "")">Zastávky</a>
            </li>
            <li id="menu_content_4" class="@(page == 4 ? "active" : "")">
                <a href="?page=4@(showKurz ? "&kurz=1" : "")">Spojení</a>
            </li>
        </ul>
    </div>

    <div class="container">
        <table class="mainTable">
            <tr>
                <td>
                    <div class="stationSearch">
                        <label for="naseptavacText">Hľadať stanicu:</label>
                        <input type="text" id="naseptavacText" class="vyber" style="width:300px" autocomplete="off" />
                    </div>
                </td>
            </tr>
            @if (Model != null && Model.Any())
            {
                <tr>
                    <td>
                        <div class="stationList">
                            @foreach (var station in Model)
                            {
                                <div class="station-item">
                                    <h3>@station.Name</h3>
                                    @if (!string.IsNullOrEmpty(station.Description))
                                    {
                                        <p>@station.Description</p>
                                    }
                                </div>
                            }
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>